build-image/
bazel-*

# testing packaging locally will result following files:
/envoy_pkg/BUILD_REVISION
/envoy_pkg/BUILD_DATE
/envoy_pkg/SOURCE_VERSION
/envoy_pkg/WORKSPACE
/envoy_pkg/envoy
/envoy_pkg/*.tar.gz
/envoy_pkg/bazel.override
/envoy_pkg/deb-version.txt
/envoy_pkg/rpm-version.txt
/envoy_pkg/packages/*/*.spec
