build-image/
bazel-*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# testing packaging locally will result following files:
/envoy_pkg/BUILD_REVISION
/envoy_pkg/BUILD_RELEASE
/envoy_pkg/BUILD_DATE
/envoy_pkg/SOURCE_VERSION
/envoy_pkg/WORKSPACE
/envoy_pkg/envoy
/envoy_pkg/envoy-override
/envoy_pkg/*.tar.gz
/envoy_pkg/*.rpm
/envoy_pkg/*.deb
/envoy_pkg/bazel.override
/envoy_pkg/workspace_info.bzl
/envoy_pkg/.bazelversion

# venv
/venv/

# IDE
.idea
.vscode
*.swp
.dmypy.json
