# Copyright 2019 Tetrate
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
import %workspace%/envoy/.bazelrc

# GetEnvoy options
build --strip=never --copt=-ggdb3
build:release --compilation_mode=opt
build:release-fips --config=release
build:release-fips --define boringssl=fips

test --test_env=ENVOY_IP_TEST_VERSIONS=v4only

# GetEnvoy variants
build:envoy --incompatible_bzl_disallow_load_after_statement=false
build:istio-proxy --incompatible_depset_union=false --incompatible_bzl_disallow_load_after_statement=false

# GetEnvoy distributions
build:alpine --define=tcmalloc=disabled --define=signal_trace=disabled
build:alpine --linkopt -static --linkopt=-lstdc++ --linkopt=-lm --linkopt -lexecinfo --linkopt -Wl,--allow-multiple-definition
build:alpine --linkopt -fuse-ld=gold

build:centos --action_env=PATH=/opt/llvm/bin:/opt/rh/devtoolset-7/root/usr/bin:/opt/rh/rh-git218/root/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
build:centos --action_env=CC=clang
build:centos --action_env=CXX=clang++
build:centos --action_env=CXXFLAGS=-stdlib=libc++
build:centos --action_env=BAZEL_CXXOPTS=-stdlib=libc++
build:centos --action_env=BAZEL_LINKLIBS=-l%:libc++.a:-l%:libc++abi.a:-lm
build:centos --define force_libcpp=enabled

build:ubuntu-xenial --action_env=PATH=/usr/lib/llvm-8/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
build:ubuntu-xenial --linkopt=-fuse-ld=lld
build:ubuntu-xenial --action_env=CC=clang
build:ubuntu-xenial --action_env=CXX=clang++

# This is no-op but if this doesn't exist bazel will error with non-exist config
build:darwin --announce_rc
